<!DOCTYPE html>
<html>
<head>
  <title>Triathlon Relay Entries</title>
  <link rel='stylesheet' href='/dist/css/bootstrap.css'>
</head>
<body>
  <div class='container'>
  <h1>Competitor Tickets</h1>

  <div class="panel panel-default">
    <div class="panel-heading">Swimmer Ticket</div>
    <div class="panel-body">
      <p class='lead'>This is your ticket for the <%= @event.name %> on <%= @event.date %>. Please keep it with you at all times. You will need it to gain entry to the competition.</p>
    </div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>D.O.B</th>
      </tr>
      <tr>
        <td><%= @swimmer.first_name %></td>
        <td><%= @swimmer.last_name %></td>
        <td><%= @swimmer.dob %></td>
      </tr>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Cyclist Ticket</div>
    <div class="panel-body">
      <p class='lead'>This is your ticket for the <%= @event.name %> on <%= @event.date %>. Please keep it with you at all times. You will need it to gain entry to the competition.</p>
    </div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>D.O.B</th>
      </tr>
      <tr>
        <td><%= @cyclist.first_name %></td>
        <td><%= @cyclist.last_name %></td>
        <td><%= @cyclist.dob %></td>
      </tr>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Runner Ticket</div>
    <div class="panel-body">
      <p class='lead'>This is your ticket for the <%= @event.name %> on <%= @event.date %>. Please keep it with you at all times. You will need it to gain entry to the competition.</p>
    </div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>D.O.B</th>
      </tr>
      <tr>
        <td><%= @runner.first_name %></td>
        <td><%= @runner.last_name %></td>
        <td><%= @runner.dob %></td>
      </tr>
    </table>
  </div>



  </div>
</body>
</html>
